In [ ]:
import pandas as pd
import json

In [ ]:
# version 1
# Будет работать долго, 7-8 часов для всего словаря

# import requests
# from bs4 import BeautifulSoup as BS

# entry_to_options = {}
# for i in range(13579, 13589):
#   url = f'https://www.geiriadur.ac.uk/gpc/servlet?func=entry&id={i}'
#   r = requests.get(url)
#   if r.status_code == 200:
#     html = BS(r.content, 'lxml')
#     entry = html.find('p', class_='p12').text.strip()
#     options = [el.text for el in html.find_all('p', class_='p22')]
#     entry_to_options[entry] = options
#   else:
#     print('error', r.status_code)
#   if i % 100 == 0:
#     time.sleep(2)
# print(entry_to_options)

In [ ]:
with open('parsed_dict', 'r') as file:
    data = json.load(file)

In [ ]:
df = pd.DataFrame(data.items(), columns=['entry', 'options'])

In [ ]:
df
# В options последним элементом временно хранится номер страницы

                      entry                                        options
0                       -a1                                           [10]
1                  Aaroniad                        [(bibl.) Aaronite., 16]
2        a9, gw. y2 (GPC3).                                            [8]
3                        a-                                            [9]
4                        a2                                            [2]
...                     ...                                            ...
108877           penbylaidd      [oafish, dull, stupid, senseless., 82180]
108878         gwastrodedd1  [discipline, mastery; groom’s office., 53368]
108879  uncial, gw. wnsial.                                       [104528]
108880  hedyn2, gw. ehedyn.                                        [59675]
108881             mastring             [mastering (tanner’s lye)., 73968]

[108882 rows x 2 columns]

In [ ]:
pages = df['options'].apply(lambda x: x[-1])
df['page'] = pages
df['options'] = df['options'].apply(lambda x: sum([el.strip('.?').split('; ') for el in x[:-1]], []))
df.sort_values(by=['page'], inplace=True)
df.set_index('page', inplace=True)

In [ ]:
df

,entry,options
page,,
1,a1,[in a rel. clause where the antecedent is not ...
2,a2,[]
3,a3,"[in direct questions), in indirect questions) ..."
4,a4,[denoting the relationship between an adj. and...
5,"a5, ac","[introducing an absolute or adjectival phr.), ..."
...,...,...
108883,"z, cytsain a ddigwydd mewn rhai geiriau sydd w...",[]
108884,Zwinglïad,[a Zwinglian]
108885,Zwinglïaeth,[Zwinglianism]
108886,Zwinglïaidd,[Zwinglian (adj.)]
108887,.zzz-prawfrhach 2000/05/22 y1Wedi’i newid i br...,[second meaning]

In [ ]:
df = df[df['options'].apply(lambda x: len(x) > 0)]
df

,entry,options
page,,
1,a1,[in a rel. clause where the antecedent is not ...
3,a3,"[in direct questions), in indirect questions) ..."
4,a4,[denoting the relationship between an adj. and...
5,"a5, ac","[introducing an absolute or adjectival phr.), ..."
7,a7,"[O (before voc. words), oh!, ah!, alas!, woe!]"
...,...,...
108877,yw2,"[yew (tree(s)), yew-wood, also fig]"
108884,Zwinglïad,[a Zwinglian]
108885,Zwinglïaeth,[Zwinglianism]
108886,Zwinglïaidd,[Zwinglian (adj.)]
108887,.zzz-prawfrhach 2000/05/22 y1Wedi’i newid i br...,[second meaning]

In [ ]:
df[df['options'].apply(lambda x: len(x) > 1)]

               entry                                            options
page
1                 a1  [in a rel. clause where the antecedent is not ...
3                 a3  [in direct questions), in indirect questions) ...
4                 a4  [denoting the relationship between an adj. and...
5             a5, ac  [introducing an absolute or adjectival phr.), ...
7                 a7     [O (before voc. words), oh!, ah!, alas!, woe!]
...              ...                                                ...
108850  yswr, ysydd1  [consumer, destroyer, squanderer, (voracious) ...
108852       yswydd2                         [endive, chicory, privets]
108857          ysyr                              [a caustic, fluoride]
108864          ytag                        [black bindweed, buckwheat]
108877           yw2                [yew (tree(s)), yew-wood, also fig]

[30609 rows x 2 columns]

In [ ]:
dictionary = df.to_dict('index')
rows = []
for item in dictionary.items():
  if len(item[1]['options']) > 1:
    for i in range(1, len(item[1]['options'])):
        rows.append(f'{item[1]["entry"]}\t{item[1]["options"][0]}\t{item[1]["options"][i]}\tCymraeg\n')

In [ ]:
with open('Cymraeg_dict.txt', 'w', encoding='utf-8') as file:
  for row in rows:
    file.write(row)